.homepage:selected{
	-fx-background-color:red;
}

/*******************************************************************************
 *                                                                             *
 * Report Over View                                                                 *
 *                                                                             *
 ******************************************************************************/


.toggle-icon1 .icon{
	-fx-text-fill: #4285F4;
	-fx-padding:20.0;
}

.toggle-icon1{
	-fx-pref-width: 80px;
	-fx-background-radius:80px;
	-fx-pref-height: 80px;
	-fx-background-color:transparent; 
	-fx-selected-color:rgba(66.0,133.0,244.0,0.29885056614875793);
	-fx-unselected-color:transparent;
}

.toggle-icon1 .jfx-rippler{
	-fx-rippler-fill: rgba(66.0,133.0,244.0,0.29885056614875793);
	-fx-mask-type: CIRCLE;
}
