/*主面板*/

.seconditem{
	-fx-background-image :  url(../../../../RES/buttonun.png);
}

.seconditem : hover{
	-fx-border-color: red;
	-fx-border-width:2;
	-fx-cursor:HAND;
}


/*今日数据表*/
.table-view {
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background .label {
  -fx-text-fill: #1b3f82;
  -fx-background-color : #e0dbd5;
  -fx-font-weight : bold;
  -fx-font-size : 20;
  -fx-border-width: 0px;
}

.table-view .column-header {
 	-fx-background-color : white;
	-fx-size : 35;
	-fx-padding: 1px; /* 0 */
}

.table-view .table-cell {
	-fx-text-fill: #1b3f82;
	-fx-border-width : 1px;
	-fx-border-color : white;
}

.table-row-cell{
	-fx-background-color: -fx-table-cell-border-color, #eeeff1;
	-fx-background-insets: 0, 0 0 1 0;
	-fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd {
  	-fx-background-color: -fx-table-cell-border-color, #eeeff1;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: paleturquoise ;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-row-cell:hover{
	-fx-background-color: -fx-table-cell-border-color, AQUA ;
}

.table-row-cell: warn{
	-fx-background-color: -fx-table-cell-border-color, khaki   ;
}

.table-row-cell: error{
	-fx-background-color: -fx-table-cell-border-color, indianred  ;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.table-row-cell : warn{
	-fx-text-fill: red;
	-fx-background-color: -fx-table-cell-border-color, beige ;
}
.table-row-cell : error{
	-fx-text-fill: blue;
	-fx-background-color: -fx-table-cell-border-color, greenyellow ;
} 

/*报告详情页*/
#GB_TestLineChart > .chart-title {
	-fx-text-fill : #1a3f83;
     -fx-padding : 0 0 10 0;
}

#GB_ReportDescTextArea : focused{
    -fx-background-color: red;
}


/*荧光曲线*/
.reportDetailPoint{
	-fx-border-width : 2px;
	-fx-background-color : #25292D;
	-fx-text-fill : red;
	-fx-font-size : 15;
	-fx-background-radius : 5;
}

#GB_TestLineChart .chart-series-line{
	-fx-stroke-width : 2;
}

.BigDataPoint{
	-fx-scale-x : 5;
	-fx-scale-y : 5;
}

/*设备*/
.DeviceThumnPaneRoot{
	-fx-background-color: #FFFFFF;
	-fx-alignment : center;
	-fx-padding : 10 0 10 0;
	-fx-cursor : hand;
}
.DeviceThumnPane{
	-fx-background-color: linear-gradient(to right, #D53557, #992236);
	-fx-alignment :  center-left;
	-fx-padding : 10;
	-fx-spacing : 10;
}

.DeviceThumnPaneChild{
	-fx-alignment :  center-left;
	-fx-spacing : 5;
}
.DeviceThumnIdLabel{
	-fx-text-fill : white;
	-fx-font-size : 20;
	-fx-font-weight : bold;
	-fx-pref-width : 200px;
	-fx-wrap-text : true;
}
.DeviceThumnAddrLabel{
	-fx-text-fill : white;
	-fx-font-size : 15;
	-fx-font-weight : bold;
	-fx-pref-width : 200px;
	-fx-wrap-text : true;
}

/*我得人员*/
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell { /* <=== changed to even */
    -fx-background-color: white;
}
.list-cell:even { /* <=== changed to even */
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #fad5d2;
}

/*报告概览*/
.chart-pie:hover {
    -fx-border-color: red;
    -fx-border-width: 2px;
}
.pieChartLabelStyle{
	-fx-text-fill : white;
	-fx-font-size : 18;
	-fx-font-weight : bold;
}